.App{
    margin: 40px;
}
.nav1{
    display: flex;
    justify-content: space;
    justify-content: left;
  
}
.nav3{
    display:unset;
    margin: 5px;
    padding:inherit;
    color: grey;
}
.nav2{
    margin: 4px;
    padding: auto;
    display: flow-root;
}
.footer{
    display:"flex";
    justify-content:"center";
}
.p1{
    color: black;
   
}